* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importing Lily Script One Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

body {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color:#223978;
    font-size: 18px;
    background-color: #dcdee3; /* Changing the background color */
    line-height: 1.8;
    padding-top: 15px; /* space from top */
}

body {
    background-image: url('../static/images/background2.png');
    background-size: cover; /* to cover the entire viewport */
    background-repeat: no-repeat; /* to prevent the image from repeating */
    background-position: center center; /* to center the image */
    background-attachment: fixed; /* to fix the position of background image */
}

.index-heading {
    text-shadow: 20px 20px 20px #f3f3fa;
    font-family: 'Lily Script One', cursive;
    font-weight: bold;
    color:#04143f;
    font-size: 35px;
    line-height: 1.2;
    padding-top: 10px; /* space from top */
}

/* Header Styles */
.header {
    background-color:#223978;
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px; /* Space below the header */
}

.header .nav-link {
    color: #f2f2f6;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header .nav-link:hover {
    background-color: #3a539a;
    color:#ebedf1;
}

/* Form Styles */
form {
    background-color:#dfe1e7;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Space below the form */
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Space below each input field */
    border: 1px solid#223978;
    border-radius: 3px;
}

form button[type="submit"] ,
.card .btn {
    background-color: #3a539a; /* Coffee color for the buttons */
    color:#f2f4f9;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover ,
.card .btn:hover {
    background-color: #3a539a; /* Darker coffee color for hover effect */
}

/* Product Card Styles */
.card {
    background-color:#dde1e9;
    border: 1px solid#223978;
    border-radius: 5px;
    margin-bottom: 20px; /* Space below each card */
}

.card-img {
    max-width: 100%;
    border-bottom: 1px solid #d9dce3; /* Line between image and content */
    border-top-left-radius: 8px; 
    border-top-right-radius: 8px;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 10px;
}

.card .btn {
    background-color: #3a539a;
    color: #eaebee;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.card .btn:hover {
    background-color:  #3a539a;
}
#index-logo {
    width: 20%; 
    height: 20%; /* the same as width to maintain aspect ratio */
    display: block;
    margin: 0 auto 20px auto; /* top and bottom margin 0, left and right margin auto */
}

.btn-primary {
    background-color:#223978;
    font-family: Arial, sans-serif;
    color: #eceef4; /* This is the text color. */
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 4px;
}
#other-logo {
    width: 5%; 
    margin-right:20px;
}