<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PreLoved_Market</title>
        <!-- Adding Bootstrap CSS CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <!-- Linking to the styles.CSS file -->
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <header>
            <div class="header">
                {% if session['user'] %}
                    <a href="{{ url_for('logout') }}" class="btn btn-primary">Logout</a>
                    <span>Welcome, {{ session['user'] }}</span>
                {% else %}
                <a href="/signup_login.html" class="nav-link">SignUp/Login</a>
                {% endif %}


            </div>
        </header>
        <div class="container mt-5">
            <!-- Add the logo image here -->
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Website Logo" id="index-logo">
            <!-- Navigation -->

    
            <!-- Main Content -->
            <div class="text-center">
                <h1 class="index-heading">Trade Used Books & Games:</h1>
                <h2 class="index-heading">Explore a World of Preloved Books and Thrilling Adventures!</h2>
                <p>=============================================</p>           
                <h3 class="index-heading">Begin Your Journey!</h3>
    
                <!-- Options Buttons -->
                <div class="mt-4">
                    <a href="{{ url_for('buy_sell') }}" class="btn btn-primary btn-lg mr-2">Begin</a>
                </div>
            </div>
        </div>
    
        <!-- Adding Bootstrap JS CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script src="/static/js/script.js"></script>

</body>
</html>